.table {
  display: flex;
  margin: 1.5rem;
  text-align: center;
  color: #fff;
}

.table__course {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.table__course:not(:last-child) {
  margin-right: 1rem;
}

.table__course__info {
  background-color: #212121;
  font-size: 1.4rem;
  padding: .5rem;
  margin-bottom: 0.5rem;
}

.table__course__info__weight,
.table__course__semesters__item__info__weight {
  margin-top: 5px;
}

.table__course__semesters {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}

.table__course__semesters__item {
  max-width: 100%;
}

.table__course__semesters__item__info {
  border: 2px solid #505050;
  font-size: 1.2rem;
}

.table__semesters__item__content {
  padding-top: 1rem;
  width: 100%;

}